<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddBookServlet</servlet-name>
  	<display-name>AddBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.capgemini.controller.AddBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBookServlet</servlet-name>
  	<display-name>DeleteBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.capgemini.controller.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBookServlet</servlet-name>
  	<display-name>UpdateBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.capgemini.controller.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBookServlet</servlet-name>
  	<display-name>SearchBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.capgemini.controller.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddBookServlet</servlet-name>
  	<url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBookServlet</servlet-name>
  	<url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBookServlet</servlet-name>
  	<url-pattern>/UpdateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchBookServlet</servlet-name>
  	<url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
</web-app>
